:root{
    text-align: center;
    font-size: 17px;
    font-family: 'Josefin Sans', sans-serif;
}
.row{
    height: 25px;
    background-color: rgba(240, 240, 240, 0.479);
}
table{
    border: 1px solid black;
}
th{
    border: 1px solid rgb(121, 121, 121);
    font-size: 17px;
    padding: 5px;
}
td{
    border: 1px solid rgb(121, 121, 121);
    padding: 5px;
    margin: 0px;
    width: 120px;
}
table{
    margin: auto;
    justify-content: center;
}